#sc{
    margin-top: 50px;
}

#src{
    margin-top: 150px;
}

#caru{
    margin-bottom: 150px;
    margin-left: 280px;
    width: 800px;
    height: 350px;
}

#fp{
    width: 800px;
    height: 450px;
}

#p2{
    width: 800px;
    height: 450px;
}